<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.AssessmentDetailMapper">

    <!-- 批量插入部门机关考核明细 -->
    <insert id="insertAssessmentDetail" parameterType="com.authine.cloudpivot.web.api.bean.AssessmentDetail">
        INSERT INTO i6rlc_assessment_detail
        (id,name,creater,createdDeptId,owner,ownerDeptId,createdTime,modifier,modifiedTime,workflowInstanceId,sequenceNo,sequenceStatus,ownerDeptQueryCode,deartment_assessment,assessment_project,score)
        VALUES
        (#{id},#{name},#{creater},#{createdDeptId},#{owner},#{ownerDeptId},#{createdTime},#{modifier},#{modifiedTime},#{workflowInstanceId},#{sequenceNo},#{sequenceStatus},#{ownerDeptQueryCode},#{deartment_assessment},#{assessment_project},#{score})
    </insert>

    <!-- 打分结果获取当前部门的每个打分项 -->
    <select id="getADComprehensiveAssessmentByParentId"
            resultType="com.authine.cloudpivot.web.api.bean.ADComprehensiveAssessment">
        SELECT * FROM i6rlc_da_comprehensive_assessment WHERE parentId=#{parentId}
    </select>

    <!-- 计算机关部门年度考核结果 -->
    <select id="getAssessmentDetailResultScore" resultType="Double">
        SELECT AVG(score) FROM i6rlc_assessment_detail WHERE deartment_assessment=#{deartmentAssessment} AND
        assessment_project=#{assessmentProject}
    </select>

    <!-- 将结果更新到打分表中 -->
    <update id="updateAssessmentDetailResultScore">
        UPDATE i6rlc_da_comprehensive_assessment SET result_score=#{resultScore} WHERE id=#{id}
    </update>

    <!-- 通过部门和年度获取部门年度总结ID -->
    <select id="getDepartmentAnnual" resultType="String">
        SELECT id FROM i6rlc_annual_assessment WHERE department_name=#{department} AND annual=#{annual}
    </select>

    <!-- 批量创建机关部门考核评价表 -->
    <insert id="insertEvaluationTable">
        INSERT INTO i6rlc_da_comprehensive_assessment
        (id, parentId, assessment_project, assessment_content, scale_of_mark)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id}, #{item.parentId}, #{item.assessmentProject}, #{item.assessmentContent}, #{item.scaleOfMark})
        </foreach>
    </insert>

    <!-- 获取机关部门考核的数据状态 -->
    <select id="getDepartmentAnnualStatus" resultType="String">
        SELECT sequenceStatus FROM i6rlc_DepartmentAssessment WHERE id=#{id}
    </select>

    <!-- 清空机关部门考核的每个人的打分 -->
    <update id="cleanAssessmentScore">
        UPDATE i6rlc_da_comprehensive_assessment SET score=null WHERE parentId=#{parentId}
    </update>

    <!-- 获取机关部门考核打分表 -->
    <select id="getDepartmentAssessmentById" parameterType="String"
            resultType="com.authine.cloudpivot.web.api.bean.DepartmentAssessment">
        SELECT * FROM i6rlc_DepartmentAssessment WHERE id=#{id}
    </select>

    <!-- 根据年度获取年度获取年度考核汇总表的id值 -->
    <select id="getAssessmentIdByAnnual" resultType="String" parameterType="String">
        SELECT * FROM i6rlc_assessment_summary WHERE annual=#{value}
    </select>

    <!-- 根据年度考核汇总表的id以及部门来获取汇总明细 -->
    <select id="getAssessmentDetailByParentIdAndDepartment"
            resultType="com.authine.cloudpivot.web.api.bean.AssessmentSummaryDetail">
        SELECT * FROM i6rlc_annua_evaluation WHERE department=#{department} AND parentId=#{parentId}
    </select>

    <!-- 根据年度考核汇总表的id值来更新年度考核汇总表 -->
    <update id="updateAssessmentDetailById" parameterType="com.authine.cloudpivot.web.api.bean.AssessmentSummaryDetail">
        UPDATE i6rlc_annua_evaluation SET first_quarter=#{firstQuarter}, second_quarter=#{secondQuarter},
        third_quarter=#{thirdQuarter}, four_quarter=#{fourQuarter}, annual_evaluation=#{annualEvaluation},
        annual_score=#{annualScore} WHERE id=#{id}
    </update>

    <!-- 新增年度考核汇总表明细 -->
    <insert id="insertAssessmentSummaryDetail"
            parameterType="com.authine.cloudpivot.web.api.bean.AssessmentSummaryDetail">
        INSERT INTO i6rlc_annua_evaluation
        (id, parentId, department, first_quarter, second_quarter, third_quarter, four_quarter, annual_evaluation,
        annual_score)
        VALUES
        (#{id}, #{parentId}, #{department}, #{firstQuarter}, #{secondQuarter}, #{thirdQuarter}, #{fourQuarter},
        #{annualEvaluation}, #{annualScore})
    </insert>

    <!-- 查看当前userId是否已经创建过考核明细了 -->
    <select id="isCreateAssessmentDetail" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from i6rlc_assessment_detail where deartment_assessment=#{id} and owner=#{userId}
    </select>

</mapper>