<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.AssessmentResultMapper">
    <select id="isHaveAssessmentResult" resultType="java.lang.String" parameterType="com.authine.cloudpivot.web.api.bean.AssessmentResult">
        select id from i4l46_AssessmentResult where p_id = #{pId} and leadershipPerson = #{leadershipPerson} and assess_content = #{assessContent}
    </select>

    <update id="updateAssessmentResult" parameterType="java.util.List">
        update i4l46_AssessmentResult
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="assess_result =case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.assessResult!=null">
                        when id=#{item.id} then #{item.assessResult}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item.id}
        </foreach>
    </update>
</mapper>