<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.DemocraticEvaluationMapper">
    <!-- 获取发起工作民主评议表所有信息 -->
    <select id="getSDemocraticEvaluationDataById" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.SDemocraticEvaluation">
        select * from i6rlc_sdemocraticevaluation where id = #{id}
    </select>

    <!-- 符合规则的所有的工作民主评议表 -->
    <select id="getAllDemocraticEvaluationData" resultType="com.authine.cloudpivot.web.api.bean.DemocraticEvaluation"
            parameterType="java.util.Map">
        select * from i6rlc_democraticevaluation where unit = #{id} limit 0, #{max}
    </select>

    <!-- 更新发起工作民主评议表所有信息 -->
    <update id="updateSDemocraticEvaluation" parameterType="com.authine.cloudpivot.web.api.bean.SDemocraticEvaluation">
        update i6rlc_sdemocraticevaluation set
        g_satisfied_poll = #{gSatisfiedPoll},
        g_basic_satisfied_poll = #{gBasicSatisfiedPoll},
        g_no_satisfied_poll = #{gNoSatisfiedPoll},
        g_no_understand_poll = #{gNoUnderstandPoll},
        r_satisfied_poll = #{rSatisfiedPoll},
        r_basic_satisfied_poll = #{rBasicSatisfiedPoll},
        r_no_satisfied_poll = #{rNoSatisfiedPoll},
        r_no_understand_poll = #{rSatisfiedPoll},
        b_satisfied_poll = #{bSatisfiedPoll},
        b_basic_satisfied_poll = #{bBasicSatisfiedPoll},
        b_no_satisfied_poll = #{bNoSatisfiedPoll},
        b_no_understand_poll = #{bSatisfiedPoll},
        i_satisfied_poll = #{iSatisfiedPoll},
        i_basic_satisfied_poll = #{iBasicSatisfiedPoll},
        i_no_satisfied_poll = #{iNoSatisfiedPoll},
        i_no_understand_poll = #{iSatisfiedPoll},
        no_strict_poll = #{noStrictPoll},
        appoint_people_poll = #{appointPeoplePoll},
        individual_poll = #{individualPoll},
        run_office_poll = #{runOfficePoll},
        buy_sell_office_poll = #{buySellOfficePoll},
        canvassing_poll = #{canvassingPoll},
        no_outstanding_problems_poll = #{noOutstandingProblemsPoll},
        other_problems = #{otherProblems},
        comment_suggestion = #{commentSuggestion},
        participants_peoples = #{participantsPeoples},
        vote_peoples = #{votePeoples},
        is_or_not_close_vote = #{isOrNotCloseVote}
        where id = #{id}

    </update>
</mapper>