<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.ExpertsDeclareMapper">

    <!--根据条件获取符合条件的全部专家信息-->
    <select id="getExpertsDeclareInfo" parameterType="com.authine.cloudpivot.web.api.bean.ExpertsInfo"
            resultType="com.authine.cloudpivot.web.api.bean.ExpertsSelectResult">
        select * from itsfr_ExpertsDeclare where annual = #{annual} and expertsDeclareRank = #{expertsDeclareRank} and
        declareDept =#{declareDept}
    </select>

    <!--清空每个专家的表决结果-->
    <update id="clearExpertsReult" parameterType="java.lang.String">
        update itsfr_reviewAppointmentComments set declareOpinion = null where parentId = #{parentId}
    </update>

    <!-- 获取专家申报意见表的状态 -->
    <select id="getExpertsDeclareStatus" parameterType="java.lang.String" resultType="java.lang.String">
        select sequenceStatus from itsfr_expertsdeclareopinion where id = #{id}
    </select>

    <!--查询全部专家明细信息-->
    <select id="findExpertsInfo" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ExpertsResultDetail">
        select * from itsfr_expertdeclaredetail where edOpinionDetail = #{id}
    </select>

    <!--更新每个专家的投票结果-->
    <update id="updateAllExpertsDeclare" parameterType="java.util.List">
        update itsfr_ExpertsDeclare
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="expertsDeclareRank =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.expertsDeclareRank!=null">
                        when id = #{item.id} then #{item.expertsDeclareRank}
                    </if>
                </foreach>
            </trim>

            <trim prefix="agreePoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.agreePoll!=null">
                        when id = #{item.id} then #{item.agreePoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="waiverPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.waiverPoll!=null">
                        when id = #{item.id} then #{item.waiverPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="opposePoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.opposePoll!=null">
                        when id = #{item.id} then #{item.opposePoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="pollStatus =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.pollStatus!=null">
                        when id = #{item.id} then #{item.pollStatus}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item.id}
        </foreach>
    </update>

    <!--通过专家的姓名的单位查询一览表的专家信息-->
    <select id="findExpertsFromInfoList" parameterType="java.util.Map"
            resultType="com.authine.cloudpivot.web.api.bean.ExpertsInfoList">
        select * from itsfr_expertsinfolist where userName = #{userName} and unit = #{unit}
    </select>

    <!--通过专家的姓名的单位查询专家申报表的专家信息-->
    <select id="findExpertsFromExpertDeclare" parameterType="map"
            resultType="com.authine.cloudpivot.web.api.bean.ExpertDeclareInfo">
        select
        id,expertsDeclareName,expertsDeclareOrganization,gender,dateOfBirth,technicalPosts,positionalTitles,firstEducation,graduationSchool,
        firstMajor,officialAcademicCredentials,schoolOfGraduation,highestMajor,nowMajorIn,keyPerformance,annual,declareDept,expertsDeclareRank
        from itsfr_ExpertsDeclare where expertsDeclareName = #{expertDeclareName} and expertsDeclareOrganization =
        #{expertsDeclareOrganization}

    </select>

    <!--通过专家id获取专家的参评条件-->
    <select id="getConditionsParticipations" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ConditionsParticipations">
        select projectsAndEffect,reviewOpinions,unitsOrDeptOpinion from itsfr_conditionsParticipations where parentId =
        #{parentId}
    </select>

    <!--将参评条件插入一览表-->
    <insert id="insertConditions" parameterType="java.util.List">
        insert into itsfr_participationconditions
        (id,projectsAndEffect,reviewOpinions,unitsOrDeptOpinion,parentId)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id},#{item.projectsAndEffect},#{item.reviewOpinions},#{item.unitsOrDeptOpinion},#{item.parentId})
        </foreach>
    </insert>
</mapper>