<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.web.api.mapper.LeadpersonMapper">

    <resultMap type="com.authine.cloudpivot.web.api.bean.LeadPerson" id="LeadPersonResultMap">
        <!-- 配置映射的订单信息 -->
        <!-- id：指定查询列中的唯 一标识，订单信息的中的唯 一标识，如果有多个列组成唯一标识，配置多个id
            column：订单信息的唯 一标识 列
            property：订单信息的唯 一标识 列所映射到Orders中哪个属性
          -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="duty" property="duty"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        duty
    </sql>

    <select id="getByDeptId" parameterType="String" resultMap="LeadPersonResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM i4hp1_LeadPerson
        where JSON_CONTAINS(department,JSON_OBJECT('id', #{deptId}))
    </select>
</mapper>
