<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.OrgUserMapper">
    <select id="getOrgUserByMobile" resultType="com.authine.cloudpivot.web.api.bean.OrgUser">
        SELECT * FROM h_org_user WHERE mobile=#{mobile}
    </select>

    <select id="getOrgUserById" resultType="com.authine.cloudpivot.web.api.bean.OrgUser">
        SELECT * FROM h_org_user WHERE id=#{id}
    </select>

    <update id="updatePasswordByUserId" parameterType="java.util.Map">
        update h_org_user set password = #{password} where id = #{userId}
    </update>

    <select id="getPasswordByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        select password from h_org_user where id = #{userId}
    </select>

    <update id="changePasswordByUserId" parameterType="java.lang.String">
        update h_org_user set password = #{password} where userId = #{userId}
    </update>
</mapper>