<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.authine.cloudpivot.web.api.mapper.PermAdminMapper">
    <select id="getPermAdminByUserId" resultType="java.lang.String">
        select id from h_perm_admin where userId = #{userId} and adminType='SYS_MNG'
    </select>
</mapper>