<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 职代会测评Mapper -->
<mapper namespace="com.authine.cloudpivot.web.api.mapper.StaffCongressEvaluationMapper">
    <select id="getAllAppraisalData" parameterType="java.lang.String" resultType="com.authine.cloudpivot.web.api.bean.Appraisal">
        select * from StartAssessmentCongress where parentId = #{value}
    </select>
</mapper>