<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 职代会测评Mapper -->
<mapper namespace="com.authine.cloudpivot.web.api.mapper.StaffCongressEvaluationMapper">

    <!-- 是否能够提交 -->
    <select id="isCanSubmit" parameterType="java.lang.String" resultType="java.lang.String">
        select is_or_not_close_vote from i6rlc_StartAssessmentCongress where id = #{id}
    </select>

    <!-- 获取发起职代会测评表中主表的所有信息 -->
    <select id="getStaffCongressEvaluationInfo"
            resultType="com.authine.cloudpivot.web.api.bean.StaffCongressEvaluation">
        select * from i6rlc_StartAssessmentCongress where id = #{id}
    </select>

    <!-- 更新发起职代会测评表主表信息 -->
    <update id="updateStaffCongressEvaluationInfo" parameterType="java.util.Map">
        update i6rlc_StartAssessmentCongress set vote_peoples=#{votePeoples}, is_or_not_close_vote='是' where id=#{id}
    </update>

    <!-- 根据unit获取从0到最大投票人数的职代会测评表的id -->
    <select id="getAssessmentCongressData" parameterType="java.util.Map" resultType="java.lang.String">
        select id from i6rlc_AssessmentCongress where unit=#{id} order by createdTime limit 0, #{max}
    </select>

    <!-- 民主测评表信息 -->

    <!-- 获取所有的发起职代会测评表中的民主测评表信息 -->
    <select id="getAllAppraisalData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.Appraisal">
        select * from i6rlc_ACAppraisal where parentId = #{id}
    </select>

    <!-- 更新发起职代会测评表中的民主测评表 -->
    <update id="updateAppraisalData" parameterType="com.authine.cloudpivot.web.api.bean.Appraisal">
        update i6rlc_ACAppraisal set excellentPoll=#{excellentPoll}, competentPoll=#{competentPoll},
        basicCompetentPoll=#{basicCompetentPoll}, notCompetentPoll=#{notCompetentPoll} where id=#{id}
    </update>

    <!-- 更新发起职代会测评表中的民主测评表 -->
    <update id="updateAllAppraisalData" parameterType="java.util.List">
        update i6rlc_ACAppraisal
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="excellentPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.excellentPoll!=null">
                        when id=#{item.id} then #{item.excellentPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="competentPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.competentPoll!=null">
                        when id = #{item.id} then #{item.competentPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="basicCompetentPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.basicCompetentPoll!=null">
                        when id = #{item.id} then #{item.basicCompetentPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="notCompetentPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.notCompetentPoll!=null">
                        when id = #{item.id} then #{item.notCompetentPoll}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="item" index="index">
            id = #{item.id}
        </foreach>
    </update>

    <!-- 获取职代会测评表中的所有的民主测评表信息 -->
    <select id="getAllDemocraticAppraisalByPId" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.DemocraticAppraisal">
        select * from i6rlc_ACDemocraticAppraisal where p_id = #{id}
    </select>

    <!-- “四好”领导班子评价表 -->

    <!-- 获取所有的发起职代会测评表中的“四好”领导班子评价表 -->
    <select id="getAllSACLeadBodyEvaluateData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.SACLeadBodyEvaluate">
        select * from i6rlc_SACLeadBodyEvaluate where parentId = #{id}
    </select>

    <!-- 更新所有的发起职代会测评表中的“四好”领导班子评价表 -->
    <update id="updateAllSACLeadBodyEvaluateData" parameterType="java.util.List">
        update i6rlc_SACLeadBodyEvaluate
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="evaluationStores =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.evaluationStores!=null">
                        when id=#{item.id} then #{item.evaluationStores}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item.id}
        </foreach>
    </update>

    <!-- 获取所有的职代会测评表中的“四好”领导班子评价表 -->
    <select id="getAllACLeadBodyEvaluateData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ACLeadBodyEvaluate">
        select * from i6rlc_ACLeadBodyEvaluate where p_Id = #{id}
    </select>

    <!-- 领导班子民主测评表 -->

    <!-- 获取所有的发起职代会测评表中的领导班子民主测评表 -->
    <select id="getAllSACLeaderBodyAppraisalData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.SACLeaderBodyAppraisal">
        select * from i6rlc_SACLeaderBodyAppraisal where parentId = #{id}
    </select>

    <!-- 更新所有的发起职代会测评表中的领导班子民主测评表 -->
    <update id="updateAllSACLeaderBodyAppraisalData" parameterType="java.util.List">
        update i6rlc_SACLeaderBodyAppraisal
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="goodPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.goodPoll!=null">
                        when id=#{item.id} then #{item.goodPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="preferablyPoll =case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.preferablyPoll!=null">
                        when id=#{item.id} then #{item.preferablyPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="ordinaryPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ordinaryPoll!=null">
                        when id=#{item.id} then #{item.ordinaryPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="badPoll =case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.badPoll!=null">
                        when id=#{item.id} then #{item.badPoll}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" index="index" item="item" separator="or">
            id = #{item.id}
        </foreach>
    </update>

    <!-- 获取所有的职代会测评表中的领导班子民主测评表 -->
    <select id="getAllACLeaderBodyAppraisalData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ACLeaderBodyAppraisal">
        select * from i6rlc_ACLeaderBodyAppraisal where p_id=#{id}
    </select>

    <!-- 领导班子党风廉政建设情况测评表 -->

    <!-- 获取所有的发起职代会测评表中的领导班子党风廉政建设情况测评表 -->
    <select id="getAllASCHonestEvaluationFormData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ASCHonestEvaluationForm">
        select * from i6rlc_ASCHonestEvaluationForm where parentId = #{id}
    </select>

    <!-- 更新所有的发起职代会测评表中的领导班子党风廉政建设情况测评表 -->
    <update id="updateAllASCHonestEvaluationFormData" parameterType="java.util.List">
        update i6rlc_ASCHonestEvaluationForm
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="goodPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.goodPoll!=null">
                        when id = #{item.id} then #{item.goodPoll}
                    </if>
                </foreach>
            </trim>
            <trim prefix="preferablyPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.preferablyPoll!=null">
                        when id = #{item.id} then #{item.preferablyPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="ordinaryPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ordinaryPoll!=null">
                        when id = #{item.id} then #{item.ordinaryPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="badPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.badPoll!=null">
                        when id = #{item.id} then #{item.badPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="waiverPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.waiverPoll!=null">
                        when id = #{item.id} then #{item.waiverPoll}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" index="index" item="item" separator="or">
            id = #{item.id}
        </foreach>
    </update>

    <!-- 获取所有的职代会测评表中的领导班子党风廉政建设情况测评表 -->
    <select id="getAllACHonestEvaluationFormData" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ACHonestEvaluationForm">
        select * from i6rlc_ACHonestEvaluationForm where p_id = #{id}
    </select>


    <!-- 中铁四局领导人员落实党风廉政建设责任制和廉洁自律情况测评表 -->

    <!-- 获取所有的发起职代会测评中的中铁四局领导人员落实党风廉政建设责任制和廉洁自律情况测评表 -->
    <select id="getAllSACautonomicEvaluationForm" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.SACautonomicEvaluationForm">
        select * from i6rlc_ACautonomicEvaluationForm where parentId = #{id}
    </select>

    <!-- 更新所有的发起职代会测评中的中铁四局领导人员落实党风廉政建设责任制和廉洁自律情况测评表 -->
    <update id="updateAllSACautonomicEvaluationForm" parameterType="java.util.List">
        update i6rlc_ACautonomicEvaluationForm
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="goodPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.goodPoll!=null">
                        when id=#{item.id} then #{item.goodPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="preferablyPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.preferablyPoll!=null">
                        when id=#{item.id} then #{item.preferablyPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="ordinaryPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.ordinaryPoll!=null">
                        when id=#{item.id} then #{item.ordinaryPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="badPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.badPoll!=null">
                        when id=#{item.id} then #{item.badPoll}
                    </if>
                </foreach>
            </trim>

            <trim prefix="waiverPoll =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.waiverPoll!=null">
                        when id=#{item.id} then #{item.waiverPoll}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" item="item" index="index" separator="or">
            id=#{item.id}
        </foreach>
    </update>

    <!-- 获取所有的职代会测评中的中铁四局领导人员落实党风廉政建设责任制和廉洁自律情况测评表 -->
    <select id="getAllACautonomicEvaluationForm" parameterType="java.lang.String"
            resultType="com.authine.cloudpivot.web.api.bean.ACautonomicEvaluationForm">
        select * from i6rlc_autonomicEvaluationForm where p_id=#{id}
    </select>

</mapper>