<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>出错了</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 移动设备 viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
	<meta name="author" content="admui.com">
	<!-- 360浏览器默认使用Webkit内核 -->
	<meta name="renderer" content="webkit">
	<!-- 禁止搜索引擎抓取 -->
	<meta name="robots" content="nofollow">
	<!-- 禁止百度SiteAPP转码 -->
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<!-- Chrome浏览器添加桌面快捷方式（安卓） -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<meta name="mobile-web-app-capable" content="yes">
	<!-- Safari浏览器添加到主屏幕（IOS） -->
	<link rel="icon" sizes="192x192" href="images/apple-touch-icon.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Admui">
	<!-- Win8标题栏及ICON图标 -->
	<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
	<meta name="msapplication-TileImage" content="images/app-icon72x72@2x.png">
	<meta name="msapplication-TileColor" content="#62a8ea">
	<!-- 样式 -->
	<link rel="stylesheet" th:href="@{themes/classic/global/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{themes/classic/base/css/site.css}">
    <!-- 自定义 -->
    <link rel="stylesheet" href="css/errors.css">
</head>

<body class="page-errors layout-full">

<div class="site-page">
    <div class="page page-full vertical-align text-center animation-fade page-error">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top" th:text="${status}"></h1>
            <h3 th:text="${error}"></h3>
            <p th:text="${message}"></p>
            <!--403:服务器上文件或目录拒绝访问-->
            <!--404:找不到您访问的页面-->
            <!--500:服务器内部错误-->
            <!--503:当前服务不可用，可能正在维护中-->
        </header>
        <footer><a href="/">回到首页</a></footer>
    </div>
</div>
</div>

</body>

</html>