<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>首页</title>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 移动设备 viewport -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="author" content="admui.com">
		<!-- 360浏览器默认使用Webkit内核 -->
		<meta name="renderer" content="webkit">
		<!-- 禁止搜索引擎抓取 -->
		<meta name="robots" content="nofollow">
		<!-- 禁止百度SiteAPP转码 -->
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<!-- Chrome浏览器添加桌面快捷方式（安卓） -->
		<link rel="icon" type="image/png" href="images/favicon.png">
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Safari浏览器添加到主屏幕（IOS） -->
		<link rel="icon" sizes="192x192" href="images/apple-touch-icon.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Admui">
		<!-- Win8标题栏及ICON图标 -->
		<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
		<meta name="msapplication-TileImage" content="images/app-icon72x72@2x.png">
		<meta name="msapplication-TileColor" content="#62a8ea">
		<!-- 样式 -->
		<link rel="stylesheet" th:href="@{themes/classic/global/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{themes/classic/base/css/site.css}">
	</head>
<body>	
	<div class="page page-full vertical-align text-center">
	    <div class="page-content vertical-align-middle">
	        <header>
	            <i class="icon wb-check"></i>
	            <p>云枢认证中心！</p>
	        </header>
	    </div>
	</div>
</body>
<script type="text/javascript">
	//默认跳转到80端口
	//var host = document.location.host;
	//document.location.href = "http://" + host + "/"
</script>
</html>